<div class="banner-container">
    <div class="wrapper">
        <div class="banner-content row">
            <!-- Banner Text -->
            <div class="banner-text d-flex align-items-center col-12 col-md-6 col-lg-6 col-xl-6">
                <div>
                    <h3 class="banner-subtitle">{{'BANNER.NEW-RELEASE' | translate}}</h3>
                    <h1 class="banner-title">{{'BANNER.CONTENT-TILE' | translate}}</h1>
                    <p class="banner-description">
                        {{'BANNER.CONTENT-DESCRIPTION' | translate}}
                    </p>
                    <div class="banner-actions">
                        <button class="banner-button banner-button--primary">{{'BANNER.READ-MORE' | translate}}</button>
                        <button class="banner-button banner-button--secondary">{{'BANNER.BUY-NOW' | translate}}</button>
                    </div>
                </div>
            </div>

            <!-- Banner Image -->
            <div class="banner-image col-12 col-md-6 col-lg-6 col-xl-6 text-center">
                <img src="../../../assets/imgs/banner-book.png" alt="Banner" class="img-fluid">
            </div>
        </div>

        <div class="footer-banner">
            <div class="title-footer d-flex justify-content-center">
                <h1>{{'BANNER.AS-FEATURED-ON' | translate}}</h1>
            </div>
            <div class="footer-images d-flex justify-content-around">
                <img src="../../../assets/imgs/banner-footer-4.webp" alt="featured-1">
                <img src="../../../assets/imgs/banner-footer-2.jpg" alt="featured-2">
                <img src="../../../assets/imgs/banner-footer-3.jpg" alt="featured-3">
            </div>
        </div>

    </div>
</div>