<div class="container book-section">
    <!-- Thanh tìm kiếm -->
    <div class="row justify-content-center mb-4">
        <div class="col-12 col-md-8">
            <div class="input-group book-search">
                <input [(ngModel)]="searchTerm" type="text" class="form-control search-input"
                    placeholder="Search for books..." aria-label="Search" />
                <button class="btn btn-primary search-btn" (click)="onSearch()">Search</button>
            </div>
        </div>
    </div>

    <!-- Hiển thị spinner ngay dưới thanh tìm kiếm -->
    <div class="row justify-content-center mb-4" *ngIf="loading">
        <div class="col-12 col-md-8 text-center">
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>

    <!-- Danh sách sách -->
    <div class="row g-4" *ngIf="!loading && books.totalElements > 0">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let book of books.data">
          <div class="card book-item h-100" (click)="viewBookDetail(book.bookId)">
            <img [src]="book.bookCover" class="card-img-top book-cover" alt="Book Cover" />
            <div class="card-body text-center">
              <h3 class="h5 card-title book-item-title">{{ book.title }}</h3>
              <p class="text-secondary">{{ book.description }}</p>
              <button class="btn btn-primary book-item-purchase">
                {{ book.price | number:'1.0-0' }} VNĐ
              </button>
            </div>
          </div>
        </div>
      </div>

    <!-- Hiển thị khi không có sách -->
    <div *ngIf="!loading && books.totalElements === 0" class="text-center mt-4">
        <p class="text-secondary">No books found for "<strong>{{ searchTerm }}</strong>". Please try again.</p>
    </div>

    <div class="row justify-content-center mt-4" *ngIf="books.totalPages > 0">
        <div class="col-auto">
            <nav>
                <ul class="pagination">
                    <!-- Nút Previous -->
                    <li class="page-item" [class.disabled]="books.currentPage === 1">
                        <button class="page-link" (click)="onPreviousPage()">Previous</button>
                    </li>

                    <!-- Danh sách các số trang -->
                    <li class="page-item" [class.active]="page === books.currentPage" *ngFor="let page of pages">
                        <button class="page-link" (click)="fetchBooks(page, searchTerm)">
                            {{ page }}
                        </button>
                    </li>

                    <!-- Nút Next -->
                    <li class="page-item" [class.disabled]="books.currentPage === books.totalPages">
                        <button class="page-link" (click)="onNextPage()">Next</button>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>