<div id="bio-main">
    <div class="banner-bio">
        <h1>{{ 'BIO.TITLE' | translate }}</h1>
        <p>{{ 'BIO.DESCRIPTION' | translate }}</p>
    </div>
</div>

<div class="container mt-5">
    <div class="my-story row">
        <div class="content-story col-12 col-md-6 col-xl-6">
            <h1>{{ 'BIO.MY-STORY.TITLE' | translate }}</h1>
            <p>
                {{ 'BIO.MY-STORY.DESCRIPTION' | translate }}
            </p>
            <a href="https://facebook.com" title="{{ 'BIO.MY-STORY.FACEBOOK' | translate }}"><i
                    class="fa-brands fa-square-facebook"></i></a>
            <a href="https://twitter.com" title="{{ 'BIO.MY-STORY.TWITTER' | translate }}"><i
                    class="fa-brands fa-square-twitter"></i></a>
            <a href="https://instagram.com" title="{{ 'BIO.MY-STORY.INSTAGRAM' | translate }}"><i
                    class="fa-brands fa-instagram"></i></a>
        </div>
        <div class="logo-author col-12 col-md-6 col-xl-6">
            <img src="../../assets/imgs/duc.jpg" alt="{{ 'BIO.MY-STORY.IMAGE-ALT' | translate }}"
                class="author-image" />
        </div>
    </div>
</div>

<div class="container personal">
    <div class="my-story row personal-content">
        <div class="logo-author col-12 col-md-6 col-xl-6">
            <img src="../../assets/imgs/duc.jpg" alt="{{ 'BIO.PERSONAL-LIFE.IMAGE-ALT' | translate }}"
                class="author-image" />
        </div>
        <div class="content-story col-12 col-md-6 col-xl-6">
            <h1>{{ 'BIO.PERSONAL-LIFE.TITLE' | translate }}</h1>
            <p>
                {{ 'BIO.PERSONAL-LIFE.DESCRIPTION' | translate }}
            </p>
        </div>
    </div>
</div>

<div class="container awards">
    <div class="row text-center">
        <div class="col-12">
            <h1>{{ 'BIO.AWARDS.TITLE' | translate }}</h1>
        </div>
        <div class="col-12 col-md-4">
            <div class="award-item">
                <img src="../../assets/imgs/award-1.png" alt="Best Author Award 2024" />
                <h3>{{ 'BIO.AWARDS.BEST-AWARDS-2024' | translate }}</h3>
                <p>{{ 'BIO.AWARDS.BEST-AWARDS-2024-DESCRIPTION' | translate }}</p>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="award-item">
                <img src="../../assets/imgs/award-1.png" alt="World's #1 Best-selling Book 2024" />
                <h3>{{ 'BIO.AWARDS.BEST-AWARDS-2023' | translate }}</h3>
                <p>{{ 'BIO.AWARDS.BEST-AWARDS-2023-DESCRIPTION' | translate }}</p>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="award-item">
                <img src="../../assets/imgs/award-1.png" alt="NYT Best-selling Author 2023" />
                <h3>{{ 'BIO.AWARDS.BEST-AWARDS-2022' | translate }}</h3>
                <p>{{ 'BIO.AWARDS.BEST-AWARDS-2022-DESCRIPTION' | translate }}</p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid quote-section">
    <div class="quote">
        <p>{{ 'BIO.QUOTE.TEXT' | translate }}</p>
        <span>{{ 'BIO.QUOTE.AUTHOR' | translate }}</span>
    </div>
</div>

<div class="container follow-section">
    <div class="follow-content text-center">
        <div class="instagram-icon">
            <i class="fa-brands fa-instagram"></i>
        </div>
        <h2>{{ 'BIO.FOLLOW.TITLE' | translate }}</h2>
        <p>{{ 'BIO.FOLLOW.DESCRIPTION' | translate }}</p>
        <a href="https://www.instagram.com/02_10_003/" class="btn-visit-instagram">
            <i class="fa-brands fa-instagram"></i> {{ 'BIO.FOLLOW.BUTTON' | translate }}
        </a>
    </div>
</div>