<div id="footer-page">
    <div class="footer-container container">
        <div class="footer-content row">
            <!-- Logo and Title -->
            <div class="footer-logo col-md-4">
                <img src="https://static.vecteezy.com/system/resources/previews/004/798/787/non_2x/open-book-simple-logo-vector.jpg"
                    alt="Book Store Logo">
                <h1>Book Store</h1>
            </div>
            <!-- Navigation Links -->
            <div class="footer-menu col-md-4">
                <h2>{{'FOOTER.QUICK-LINKS' | translate}}</h2>
                <ul>
                    <li><a href="/">{{'FOOTER.HOME' | translate}}</a></li>
                    <li><a href="/books">{{'FOOTER.BOOKS' | translate}}</a></li>
                    <li><a href="/bio">{{'FOOTER.BIO' | translate}}</a></li>
                    <li><a href="/contact">{{'FOOTER.CONTACT' | translate}}</a></li>
                </ul>
            </div>
            <!-- Social Media -->
            <div class="footer-social col-md-4">
                <h2>{{'FOOTER.FOLLOW-US' | translate}}</h2>
                <div>
                    <a href="https://facebook.com"><i class="fa-brands fa-square-facebook"></i></a>
                    <a href="https://twitter.com"><i class="fa-brands fa-square-twitter"></i></a>
                    <a href="https://instagram.com"><i class="fa-brands fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <!-- Copyright -->
        <div class="footer-copyright text-center">
            <p>&copy; 2025 Book Store. All Rights Reserved.</p>
        </div>
    </div>
</div>